<div style='width: 250px; height: 60px; padding: 5px'>
  <div style='float:left'>
    <%= link_to book do %>
      <%= image_tag book.cover_filename, width: 40, height: 60 %>
    <% end %>
  </div>
  <div style='width:200px; height: 60px; margin-left: 50px'>
    <%= link_to book do %>
      <i><%= book.title %></i>
      <br>
      by L. Frank Baum
      <br>
      #<%= book.number %> in the Oz series
    <% end %>
  </div>
</div>
