<img src="<%= @property.image_url %>" width="500" height="375">

<h2><%= @property.price %></h2>

<p>
  <b>Bedrooms:</b>
  <%= @property.num_bedrooms %>
</p>

<p>
  <b>Stories:</b>
  <%= @property.num_stories %>
</p>

<p>
  <b>Square feet:</b>
  <%= @property.num_square_feet %>
</p>
