<h2>Volume controls</h2>

<%= glyphicon_button "off" %>
<%= glyphicon_button "down" %>
<%= glyphicon_button "up" %>

<h2>Example HTML entities</h2>

<p>6 <%= times_symbol %> 3 = 18</p>

<p>6 <%= divided_by_symbol %> 3 = 2</p>
