<h1>Edit house #<%= @house.id %></h1>

<%== error_messages_for @house %>

<%== form_tag "/admin/houses/#{@house.id}" do %>
  <%== render "house_form_fields" %>

  <p>
    <%== submit_tag "Update" %>
  </p>
<% end %>
