<%== error_messages_for @customer %>

<h1>Page of 3 of 4: Billing</h1>

<h2>Enter billing address</h2>

<p>
  <%== check_box_tag :same_as_ship, "on", @customer.bill_address_same_as_ship %>
  Same as shipping address
</p>

Address1<br>
<%== text_field_tag :address1, @customer.bill_address1 %>
<br>

City<br>
<%== text_field_tag :city, @customer.bill_city %>
<br>

State<br>
<%== select_tag :state, options_from_collection_for_select(
  @u_s_states, :abbreviation, :name, @customer.bill_state),
  prompt: "" %>
<br>

ZIP code<br>
<%== text_field_tag :zip_code, @customer.bill_zip_code, size: 5, maxlen: 5 %>
<br>

<p>
  <%== submit_tag "Go back" %>
  or
  <%== submit_tag "Continue" %>
</p>
