<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.keys.each do |key| %>
  <div class="flash flash-<%= key %>">
    <%= flash[key] %>
  </div>
<% end %>

<% if @user != nil %>
  <%= link_to "accounts", accounts_path %>
  <%= link_to "location", location_path %>
  <%= link_to "rates",    rates_path %>
  <br>

  Logged in as <%= @user.username %>;
  <%= link_to "logout", logout_path %>

<% end %>

<%= yield %>

</body>
</html>
