<h1><%= @house.address %>, <%= @house.city %>, CO</h1>

<img src="<%= @house.image_url %>" width="500" height="375">

<h2><%= @house.price %></h2>

<p>
  <b>Bedrooms:</b>
  <%= @house.num_bedrooms %>
</p>

<p>
  <b>Stories:</b>
  <%= @house.num_stories %>
</p>

<p>
  <b>Square feet:</b>
  <%= @house.num_square_feet %>
</p>
