<table class="table table-striped">

  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Full name</th>
    <th>Birth date</th>
    <th>Age</th>
  </tr>

  <% @people.each do |person| %>
    <tr>
      <td><%= person.id %></td>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= person.full_name %></td>
      <td><%= person.birth_date.strftime('%Y-%m-%d') %></td>
      <td><%= person.age %></td>
    </tr>
  <% end %>

</table>

<%= link_to "New person", new_person_path %>
