<h1>Listing ads</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Duration</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.company_name %></td>
        <td><%= ad.duration %></td>
        <td><a href="/show_ad/<%= ad.id %>">Show</a></td>
        <td><a href="/edit_ad/<%= ad.id %>">Edit</a></td>
        <td><a href="/destroy_ad/<%= ad.id %>">Destroy</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="/new_ad">New Ad</a>
