<table>
  <tr>
    <th>ID</th>
    <th>Systolic</th>
    <th>Diastolic</th>
  </tr>

  <tr>
    <td>1</td>
    <td><%== text_field_tag :systolic_1, "100" %></td>
    <td><%== text_field_tag :diastolic_1, "70" %></td>
  </tr>

  <tr>
    <td>2</td>
    <td><%== text_field_tag :systolic_2, "110" %></td>
    <td><%== text_field_tag :diastolic_2, "75" %></td>
  </tr>

  <tr>
    <td>3</td>
    <td><%== text_field_tag :systolic_3, "120" %></td>
    <td><%== text_field_tag :diastolic_3, "80" %></td>
  </tr>

</table>

<%== submit_tag "Update" %>
