<% if @property.id %>
  <p>
    <b>ID #: </b><%= @property.id %>
  </p>
<% end %>

<p>
  Address
  <br>
  <input type="text" name="address" value="<%= @property.address %>"/>
</p>

<p>
  Price
  <br>
  <input type="text" name="price" value="<%= @property.price %>"/>
</p>

<p>
  Bedrooms
  <br>
  <input type="text" name="num_bedrooms" value="<%= @property.num_bedrooms %>"/>
</p>

<p>
  Image URL
  <br>
  <input type="text" name="image_url" value="<%= @property.image_url %>" size="80"/>
</p>

<p>
  City
  <br>
  <input type="text" name="city" value="<%= @property.city %>"/>
</p>

<p>
  State
  <br>
  <input type="text" name="state" value="<%= @property.state %>"/>
</p>

<p>
  Number of stories
  <br>
  <input type="text" name="num_stories" value="<%= @property.num_stories %>"/>
</p>

<p>
  Number of square feet
  <br>
  <input type="text" name="num_square_feet" value="<%= @property.num_square_feet %>"/>
</p>
