<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container' style='max-width: 730px'>
  <%= render "shared/navbar" %>

  <% flash.keys.each do |key| %>
    <div class="flash flash-<%= key %>">
      <%= flash[key] %>
    </div>
  <% end %>
  
  <%= yield %>

  <%= render "shared/footer" %>

</div><!-- end .container -->

</body>
</html>
