<h1>New ad</h1>

<%== error_messages_for @ad %>

<%== form_tag ads_path do %>
  <div class="field">
    <%= label_tag :company_name %><br>
    <%= text_field_tag :company_name, @ad.company_name %>
  </div>
  <div class="field">
    <%= label_tag :duration %><br>
    <%= text_field_tag :duration, @ad.duration %>
  </div>
  <div class="actions">
    <%= submit_tag "Create" %>
  </div>
<% end %>

<%= link_to "Back", ads_path %>
