<p>
  Favorite color<br>
  <%== select_tag :color,
    options_for_select(["red", "yellow", "green"], @color), prompt: "" %>
</p>

<p>
  Favorite letter<br>
  <%== radio_button_tag :letter, "A", @letter == "A" %> A
  <%== radio_button_tag :letter, "B", @letter == "B" %> B
  <%== radio_button_tag :letter, "C", @letter == "C" %> C
</p>

<p>
  Favorite number<br>
  <%== text_field_tag :number, @number %>
</p>

<p>
  <%== submit_tag "Update preferences" %>
</p>

<p>
  <a href="/logout">Logout</a>
</p>
