<h1>New ad</h1>

<%==error_messages_for @ad %>

<%==form_for @ad do |f| %>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to "Back", ads_path %>
