<!DOCTYPE html>
<html>
  <head>
    <% if @title %>
      <title><%= @title %></title>
    <% end %>
    <script src="/javascripts/add-param-labels.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
  </head>
  <body>
    <% if flash.has?(:success) %>
      <div class="flash-success">
        <%= flash[:success] %>
      </div>
    <% end %>

    <% if flash.has?(:error) %>
      <div class="flash-error">
        <%= flash[:error] %>
      </div>
    <% end %>

    <%# non-block form is needed to adapt Rails form helpers to Sinatra %>
    <%# request.path_info means POST action should be same as the GET URL %>
    <%== form_tag request.path_info %>
      <%== yield %>
    </form>
  </body>
</html>
