<h1>Listing ads</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Duration</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.company_name %></td>
        <td><%= ad.duration %></td>
        <td><%= link_to "Show", ad %></td>
        <td><%= link_to "Edit", edit_ad_path(ad) %></td>
        <td><%= link_to "Destroy", ad, "data-method"=>"delete",
                  "data-confirm"=>"Are you sure?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Ad", new_ad_path %>
